<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список працівникіів</title>
</head>
<body>
<h1>Список працівників</h1>
<form action="/filter" method="post">
    <label for="roomNumber">Фільтр по номеру приміщення:</label>
    <input type="text" id="roomNumber" name="roomNumber">
    <button type="submit">Фільтрувати</button>
</form>
<table>
    <tr>
        <th>Імʼя</th>
        <th>Час заходження</th>
        <th>Час виходу</th>
        <th>Номер приміщення</th>
    </tr>
    <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.getName()}"></td>
        <td th:text="${employee.getEntryTime()}"></td>
        <td th:text="${employee.getExitTime()}"></td>
        <td th:text="${employee.getRoomNumber()}"></td>
        <td> <a style="color: darkgoldenrod" th:href="'/edit/' + ${employee.id}">Редагувати</a></td>
        <td> <a style="color: red" th:href="'/delete/' + ${employee.id}">Видалити</a></td>
    </tr>
</table>
<br/>
<a style="color: green" href='/add'>Створити працівника</a>
<a style="color: blue" href='/download/pdf'>Скачати PDF</a>

</body>
</html>
