<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редагувати працівника</title>
</head>
<body>
<h1>Редагувати працівника</h1>
<div th:if="${errorMessage}" style="color: red">
    <p th:text="${errorMessage}"></p>
</div>
<form action="#" method="post">
    <input type="hidden" th:field="${employee.id}">
    <div>
        <label for="name">Кадастровий номер:</label>
        <input type="text" id="name" name="name" th:field="${employee.name}" required>
    </div>
    <div>
        <label for="entryTime">Час входження</label>
        <input type="text" id="entryTime" name="entryTime" th:field="${employee.entryTime}" required>
    </div>
    <div>
        <label for="exitTime">Час виходу:</label>
        <input type="text" id="exitTime" name="exitTime" th:field="${employee.exitTime}" required min="0">
    </div>
    <div>
        <label for="roomNumber">Номер приміщення:</label>
        <input type="number" id="roomNumber" name="roomNumber" th:field="${employee.roomNumber}" required min="0">
    </div>
    <button type="submit">Зберегти</button>
</form>
</body>
</html>
